<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



{% block content %}
    <h1>Novo Edital</h1>
    <form method="POST" class="novo-edital">
         {% csrf_token %}
         {{ form1.as_p }}


        <button type="submit" >Salvar</button>
    </form>



 <form>
        <div class="form-group">
            <label >Tipo</label>
            <input type={{form1.tipo.as_p}} class="form-control" aria-describedby="typeHelp" placeholder="Discente/Bolsista">
        </div>
        <div class="form-group">
            <label >Programa</label>
            <input type={{form1.programa.as_p}} class="form-control" placeholder="Programa">
        </div>
        <div class="form-group">
            <label >Número</label>
            <input type={{form1.numero.as_p}} class="form-control" placeholder="Número">
        </div>
         <div class="form-group">
            <label >siglaUO</label>
            <input type={{form1.siglaUO.as_p}} class="form-control" placeholder="Ex.: DG-EAD/IFRN">
        </div>
        <div class="form-group">
            <label >Link do edital</label>
            <input type={{form1.linkEdital.as_p}} class="form-control" placeholder="Informe o LINK onde está o edital">
        </div>
        <div class="form-group">
            <label >Grupo</label>
            <input type={{form1.grupo.as_p}} class="form-control" >
        </div>
        <div class="form-group">
            <label >Descrição</label>
            <input type={{form1.descricao.as_p}} class="form-control" >
        </div>
        <div class="form-group">
            <label >Ano</label>
            <input type={{form1.ano.as_p}} class="form-control" >
        </div>
        <div class="form-group">
            <label >Período</label>
            <input type={{form1.periodo.as_p}} class="form-control" >
        </div>
        <div class="form-group">
            <label >Data de publicação</label>
            <input type={{form1.data_publicacao.as_p}} class="form-control" >
        </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

'grupo', 'descricao', 'ano', 'periodo', 'data_publicacao', 'existe_taxa', 'valor_taxa', 'vencimento_boleto']


{% endblock %}


</body>
</html>